section {
    min-width: 30rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: 0.1rem solid #797979;
    border-radius: .25rem;
    flex-grow: 1;
    font-family: 'Arial', 'serif';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5rem;
    color: #303030;
    background-color: #e2e2e2;
    transform: scale(.95);

    &:hover {
        opacity: .8;
    }
    &:active {
        background-color: #d3d3d3;
        opacity: .8;
        transform: scale(.9);
    }
}