$color-black: #000000;
$color-yellow: #ffb223;
$color-btn-border: #797979;
$color-btn-bg: #e2e2e2;
$color-btn-active: #d3d3d3;

$ftype: 'Arial', 'serif';
$fsize-large: 3rem;
$fweight: 700;
$lheight: 5rem;